/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 20px;  font-family: Roboto, "Helvetica Neue", sans-serif; background: #fafafa; }

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}


.setting-card {
  margin-top: 10px;
  margin-bottom: 40px;
}



mat-slider {
  width: 100%;
  min-width: 200px;

}


.setting-container {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  max-width: 400px;
}
.setting-row {
  display: flex;

}
.setting-row > .input {
  margin: .0em 1em 0em 1em;
  flex: 2;
}
.setting-row > .value {
  padding: .5em 1em 0em 0em;
  flex: 1;
  text-align: right;
}
.setting-row > .label {
  padding: .5em .5em 0em 1em;
  flex: 1;
  font-weight: bold;
}

.save{
      float: right;
}
