<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row color="primary">
    <span>Tamaro Blaster configurator</span>
  </mat-toolbar-row>
</mat-toolbar>




<div *ngIf="!isConnnected">

  <header>

    <h1>Connect Blaster</h1>
    <button mat-raised-button (click)="connect($event)">Connect Tamaro Blaster</button>
  </header>
  <main>

    <h2> How to connect</h2>


    <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-card class="help-card">
          <mat-card-header>
            <mat-card-title>Step 1</mat-card-title>
            <mat-card-subtitle>Connect USB-C cable</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/tamaro-usbc-connected.jpg">
          <mat-card-content>
            <p style="margin-top: 10px;">
              Connect your Tamaro Blaster to your computer or smarphone via USB-C Cable.
              Once connected click on the "Connect Tamaro Blaster" button.
            </p>
          </mat-card-content>
        </mat-card></mat-grid-tile>
      <mat-grid-tile><mat-card>
          <mat-card class="help-card">
            <mat-card-header>
              <mat-card-title>Step 2</mat-card-title>
              <mat-card-subtitle>Select Device and Connect</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/select-device.jpg">
            <mat-card-content>
              <p style="margin-top: 10px;">
                From the davices list select "USB Serial" and click on Connect
              </p>
            </mat-card-content>
          </mat-card>
        </mat-card></mat-grid-tile>
    </mat-grid-list>





  </main>

</div>

<div *ngIf="isConnnected">

  <header>

    <button mat-raised-button color="accent" (click)="getConfigDump()"><mat-icon aria-hidden="false"
        fontIcon="downloading"></mat-icon> Download Settings</button>
    <button mat-raised-button color="accent" (click)="getConfigDump()"><mat-icon aria-hidden="false"
        fontIcon="publish"></mat-icon> Upload Settings</button>
    <!-- <button mat-raised-button color="accent" (click)="getVersion()"><mat-icon aria-hidden="false"
        fontIcon="cloud_circle"></mat-icon>Community Presets</button> -->

  </header>


  <main>




    <mat-card class="setting-card">
      <mat-card-header>
        <mat-card-title>Flywheel</mat-card-title>
        <mat-card-subtitle>
          The following parameters are used to set the maximum speed of the flywheel motors and the time required to reach such speed.<br/>
          The higher the speed the more powerfull the shoot but at the cost of wearing the bullets.<br/>
          The ramp up time will prevent to blaster from shooting before such time is elapsed ensuring the flywheelas
          reached its desired speed.<br/>
          The Spin differential allows to run the upper wheel slightily faster imposing a backword speen on the bullet to
          acheive a longer trajectory.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Max speed</label>
            <label class="value">{{configuration.esc_max_power}} %</label>
          </li>
          <li class="setting-row">

            <mat-slider class="input" [max]="2000" [min]="1200" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.esc_max_power" #slider>
            </mat-slider>

          </li>
        </ul>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Min speed</label>
            <label class="value">{{configuration.esc_min_power}} %</label>
          </li>
          <li class="setting-row">

            <mat-slider class="input" [max]="2000" [min]="1200" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.esc_min_power" #slider>
            </mat-slider>

          </li>
        </ul>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Ramp up time</label>
            <label class="value">{{configuration.min_rampup_time}} milli seconds</label>
          </li>
          <li class="setting-row">
            <mat-slider class="input" [max]="500" [min]="10" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.min_rampup_time" #slider>
            </mat-slider>
          </li>
        </ul>


        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Spin differential</label>
            <label class="value">{{configuration.spin_differential}}</label>
          </li>
          <li class="setting-row">
            <mat-slider class="input" [max]="500" [min]="0" [step]="10">
              <input matSliderThumb [(ngModel)]="configuration.spin_differential" #slider>
            </mat-slider>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="setting-card">
      <mat-card-header>
        <mat-card-title>Pusher</mat-card-title>
        <mat-card-subtitle>
          The following parameters are used to calibrate the solenoid pusher.<br/>
          The higher the values the more reliable the pusher will behaive but the longer it will take between shoots.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Pull time</label>
            <label class="value">{{configuration.pusher_pull_time}} milli seconds</label>
          </li>
          <li class="setting-row">
            <mat-slider class="input" [max]="100" [min]="1" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.pusher_pull_time" #slider>
            </mat-slider>
          </li>
        </ul>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Push time</label>
            <label class="value">{{configuration.pusher_push_time}} milli seconds</label>
          </li>
          <li class="setting-row">
            <mat-slider class="input" [max]="100" [min]="1" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.pusher_push_time" #slider>
            </mat-slider>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>


    <mat-card class="setting-card">
      <mat-card-header>
        <mat-card-title>Battery Protection</mat-card-title>
        <mat-card-subtitle>This parameter prevents to inadvertitly
          damage the LiPo battery by running its volate too low.<br/>
          Important! For a reliable voltage reading the blaster should be calibrated at least once.</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Warning voltage</label>
            <label class="value">{{configuration.warning_vbat}} volt</label>
          </li>
          <li class="setting-row">
            <mat-slider class="input" [max]="14" [min]="0" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.warning_vbat" #slider>
            </mat-slider>
          </li>
        </ul>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Critical voltage</label>
            <label class="value">{{configuration.critical_vbat}} volt</label>
          </li>
          <li class="setting-row">
            <mat-slider class="input" [max]="14" [min]="0" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.critical_vbat" #slider>
            </mat-slider>
          </li>
        </ul>

        <ul class="setting-container">
          <li class="setting-row">
            <label class="label">Analog voltage read scale </label>
            <label class="value">{{configuration.vbat_scale}}</label>
          </li>
          <li class="setting-row">
            <mat-slider class="input" [max]="100" [min]="1" [step]="1">
              <input matSliderThumb [(ngModel)]="configuration.vbat_scale" #slider>
            </mat-slider>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

  </main>
</div>
