




<h1>Tamaro Blaster configurator</h1>


<div *ngIf="!isConnnected">


  <mat-card class="setting-card">
    <mat-card-title>Connect Blaster</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>

    <button mat-raised-button color="primary" (click)="connect($event)">Select Device</button>


  </mat-card>


</div>


<div *ngIf="isConnnected">

<mat-card class="setting-card">
  <mat-card-title>Pusher</mat-card-title>
  <mat-card-subtitle>Tune firing speed and relaiability</mat-card-subtitle>

    <ul class="setting-container">
      <li class="setting-row">
        <label class="label">Pull time</label>
        <label class="value">{{configuration.pusher_pull_time}} milli seconds</label>
      </li>
      <li class="setting-row">
            <mat-slider class="input" [max]="100" [min]="1" [step]="1"   [(ngModel)]="configuration.pusher_pull_time"></mat-slider>
      </li>
    </ul>

  <ul class="setting-container">
    <li class="setting-row">
      <label class="label">Push time</label>
      <label class="value">{{configuration.pusher_push_time}} milli seconds</label>
    </li>
    <li class="setting-row">
         <mat-slider class="input" [max]="100" [min]="1" [step]="1"   [(ngModel)]="configuration.pusher_push_time"></mat-slider>
    </li>
  </ul>
</mat-card>

<mat-card class="setting-card">
  <mat-card-title>Flywheel</mat-card-title>
  <mat-card-subtitle>Tune flyheel power</mat-card-subtitle>


    <ul class="setting-container">
      <li class="setting-row">
        <label class="label">Max Motor Speed</label>
        <label class="value">{{configuration.esc_max_power}} %</label>
      </li>
      <li class="setting-row">
            <mat-slider class="input" [max]="2000" [min]="1200" [step]="1"   [(ngModel)]="configuration.esc_max_power"></mat-slider>
      </li>
    </ul>

    <ul class="setting-container">
      <li class="setting-row">
        <label class="label">Ramp up time</label>
        <label class="value">{{configuration.min_rampup_time}} milli seconds</label>
      </li>
      <li class="setting-row">
            <mat-slider class="input" [max]="500" [min]="10" [step]="1"   [(ngModel)]="configuration.min_rampup_time"></mat-slider>
      </li>
    </ul>
</mat-card>

<mat-card class="setting-card">
  <mat-card-title>Fire Modes</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>

<ul style="   list-style-type: none;">
  <li>
    <mat-slide-toggle [(ngModel)]="isSingleShot">Single shot</mat-slide-toggle>
  </li>
  <li>
    <mat-slide-toggle [(ngModel)]="isBurstShots">Burst shots</mat-slide-toggle>
  </li>
  <li>
    <mat-slide-toggle [(ngModel)]="isFullAuto">Full auto</mat-slide-toggle>
    </li>
    </ul>


</mat-card>




<button mat-raised-button color="primary" (click)="getConfigDump()" class="save">Load</button>
<button mat-raised-button color="primary" (click)="pushConfiguration($event)" class="save">Save</button>
</div>
